.header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* padding-left: 200px;
    padding-right: 200px; */
}
.button{
    font-size: 10px; 

}
.btn-group{
    display: flex;
    gap: 12px;
}
.search{
    font-size: 20px;
}

.shoping{ 
font-size: 20px;
}
.article{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items:center ;
   margin-top: 20px;    
   justify-content: space-between;                                                                                                            
}
body{
   width: 80%;
   margin: auto;
}
.right-site{
    position: relative;
}
.left-site{
    width: 500px;
}

.camera{
    display: block;
    position: absolute;
    top: 10px;
}

.peragraph{
    margin-top: -25px;
}
.button-2{
    background-color: rgb(211, 32, 139);
    color: aliceblue;
    width:140px;
    height:20px;
    padding: 10px;
    border-radius: 10px;
   
}
.loghu{
    display: flex;
    border: 2px solid gray;
   gap:100px;
   justify-content: center;
   margin-top:150px;
   font-size:60px;
}
.title{
    font-size: 50px;
}
.headline{
    margin-top: 300px;
    text-align:  center;
}
.star{
    display: flex;
   align-items: center;
   gap: 10px;
   margin-top:-15px;
}
.collection{
    background-color:lightgray;
    height: 506px;
    
    border-radius: 7px;
}
.peragraph{
    margin-top:-7px;
}
.star-color{
    color: orange;
}
.price{
   font-size:20px ;
   margin-top:-8px;
}
.collection{
    padding: 20px;
    overflow: hidden;
}
.our-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap:25px;
    grid-column-gap:20px;
    justify-items: center;
}
.img-hover:hover{
   transform: scale(1.2);
  transition:transform 1s ease-in;
  }
  .seemore{
    text-align: end;
    color: orangered;
    
   
  
  }
  .fotter-up{
    display: flex;
    gap:200px;
    justify-items: center;
    margin-top:70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .headline2{
    font-size:40px;
  }
.fotter{
    margin-top:60px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}
.icon{
    display: flex;
   justify-content : center;
   gap: 30px;
}

/* media query for tABLET IPAD PRO  */
@media screen and (max-width: 600px) {
  .header{
    display: block;
  }
  .btn-group{
    display: flex;
    gap: 5px;
  }

  .article{
    display: block;
   align-items: center;
    width:100%;
    background-color: brown;
  }

.article img{
    width:70%;
}
.left-site{
    width:200px ;
}
.loghu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;
    margin-top:30px;
    border:0px;
}
.headline{
    margin-top:-0.1px;
}
.our-collection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);

}

.fotter-up{
    display:flex;
    flex-wrap: wrap;
    padding-left:0px;
    padding-right:0px;
    justify-content: center;
   
}
.fotter-up img{
    width:99%
}
.ftr-article{
    margin-top: -80px;
}

}
