.header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* padding-left: 200px;
    padding-right: 200px; */
}
.button{
    margin-right: 20px;
    font-size: 10px; 

}
.search{
    font-size: 20px;
}

.shoping{ 
font-size: 20px;
}
.article{
display:flex;
   justify-content: space-between;
   margin-top: 80px;
}
body{
    margin-left: 200px;
    margin-right: 200px;
}
.right-site{
    position: relative;
}
.left-site{
    width: 500px;
}

.camera{
    display: block;
    position: absolute;
    top: 10px;
}
.headline{
    font-size:50px;
}

.peragraph{
    margin-top: -25px;
}
.button-2{
    background-color: rgb(211, 32, 139);
    color: aliceblue;
    width:140px;
    height:20px;
    padding: 10px;
    border-radius: 10px;
   
}
.loghu{
    display: flex;
    border: 2px solid gray;
   gap:100px;
   justify-content: center;
   margin-top:150px;
   font-size: 60px;
}
.headline{
    margin-top: 300px;
    text-align:  center;
}
.star{
    display: flex;
   align-items: center;
   gap: 10px;
   margin-top:-15px;
}
.collection{
    background-color:lightgray;
    height: 506px;
    width: 362px;
    border-radius: 7px;
}
.peragraph{
    margin-top:-7px;
}
.star-color{
    color: orange;
}
.price{
   font-size:20px ;
   margin-top:-8px;
}
.collection{
    padding: 20px;
    overflow: hidden;
}
.our-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap:25px;
    grid-column-gap:-100px;
    justify-items: center;
}
.img-hover:hover{
   transform: scale(1.2);
  transition:transform 1s ease-in;
  }
  .seemore{
    margin-left: 87%;
    margin-top: 5px;
    gap: 10px;
    color: rgb(246, 65, 4);
    font-size: 20px;
  
  }
  .fotter-up{
    display: flex;
    gap:200px;
    justify-items: center;
    margin-top:70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .headline2{
    font-size:40px;
  }
.fotter{
    margin-top:60px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}
.icon{
    display: flex;
   justify-content : center;
   gap: 30px;
}